.cspell-base.json
.cspell.json
.gitattributes
.github/
.gitignore
.virmator/
.vscode/
*.test.d.ts
*.test.js
*.test.ts
dist/readme-examples/
dist/scripts/
dist/test/
dist/vite/
src/
test-files/
tsconfig-base.json
tsconfig.json
node_modules

dist/test-file-paths.*